@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{ ViewData["Title"] = "Profile"; }
<div>
    <h1 class="mb-4">Walker Profile</h1> 

    <section class="container">

        <div>
            @if (String.IsNullOrEmpty(Model.Walker.ImageUrl))
            {
                <image style="width:100px;float:left;margin-right:20px" src="https://cdn.pixabay.com/photo/2018/08/15/13/12/dog-3608037_960_720.jpg"
                       class="card-img-top"
                       alt="Doggo" />
            }
            else
            {
                <image style="width:100px;float:left;margin-right:20px" src="@Model.Walker.ImageUrl" class="card-img-top avatar" alt="Walker on Doggo" />
            }
        </div>
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
        
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">

            <h1 class="text-left">Walks</h1>

            <div class="row">
                    <div class="card m-4" style="width: 40rem;">
                @foreach (Walks walk in Model.GetWalksByWalkerId)
                {
                    DateTime time = walk.Date;
                    string format = "MMM d yyyy";
                        <div class="card-body">
                            <span>
                                <label class="font-weight-bold">Date:</label>
                                <span>@time.ToString(format)</span>
                            </span>
                            <span>
                                <label class="font-weight-bold">Dog:</label>
                                <span>@walk.Dog.Name</span>
                            </span>
                            <span>
                                <label class="font-weight-bold">Client:</label>
                                <span>@walk.Dog.Owner.Name</span>
                            </span>
                            <span>
                                <label class="font-weight-bold">Duration:</label>
                                <span>@(walk.Duration/60) min</span>
                            </span>

                        </div>
                }
                    </div>

            </div>
        </section>

            <section class="col-lg-4 col-md-8 container mt-5">
                <div>
                    <h1>Total Walk Time:</h1>


                    <span>@Model.GetTotalWalkedByWalkerId</span>
                </div>

            </section>

</div>
</div>